:root {
  --accent-color: #2196f3;
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color-theme-light: #212121;
  --secondary-text-color-theme-light: #757575;
  --primary-text-color-theme-dark: #ffffff;
  --secondary-text-color-theme-dark: rgba(255, 255, 255, 0.6);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
img {
  display: block;
}
button {
  cursor: pointer;
  font-family: inherit;
}
body {
  font-family: var(--primary-font);
  color: var(--primary-text-color-theme-light);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo-header {
  font-family: --secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #000000;
}
.logo-header:hover,
.logo-header:focus {
  color: var(--accent-color);
}
.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
}
.menu .menu-link:hover,
.menu .menu-link:focus {
  color: var(--accent-color);
}
.menu .link.current {
  color: var(--accent-color);
}
.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color-theme-light);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  /* color: var(--primary-text-color-theme-dark); */
}
.modal-open-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  /* color: var(--primary-text-color-theme-dark); */
}
.modal-open-button:hover,
.modal-open-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-text-color-theme-dark);
}
.title-benefits-items {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.description-benefits-items {
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--secondary-text-color-theme-light);
}
.directions {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.title-employees {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.employees-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
}
.employees-position {
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color-theme-light);
}
.logo-footer {
  font-family: --secondary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;

  /* color: var(--primary-text-color-theme-dark); */
}
.logo-footer:hover,
.logo-footer:focus {
  color: var(--accent-color);
}
.contact-list-link-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  /* color: var(--primary-text-color-theme-dark); */
}
.contact-list-link-address-footer:hover,
.contact-list-link-address-footer:focus {
  color: var(--accent-color);
}
.contact-list-link-address-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  /* color: var(--primary-text-color-theme-dark); */
}

.contact-list-link-footer {
  font-style: normal;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;

  /* color: var(--secondary-text-color-theme-dark); */
}
.contact-list-link-footer:hover,
.contact-list-link-footer:focus {
  color: var(--accent-color);
}
.filter-buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
}
.filter-buttons:hover,
.filter-buttons:focus {
  background-color: var(--accent-color);
  color: var(--primary-text-color-theme-dark);
}
.projects-titles {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
}
.projects-type {
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;

  color: var(--secondary-text-color-theme-light);
}
